go 1.22.0

use (
	"./05_Data-Structure-(Array-Slice-Map)-Function/praktikum/prioritas_1"
	"./05_Data-Structure-(Array-Slice-Map)-Function/praktikum/prioritas_2"
	"./17_ORM-Code-Structure-(MVC)/praktikum/eksplorasi"
	"./17_ORM-Code-Structure-(MVC)/praktikum/prioritas1"
	"./17_ORM-Code-Structure-(MVC)/praktikum/prioritas2"
	./02_Basic-Programming/praktikum
	./04_Time-and-Space-Complexity/praktikum
	./06_String-Advance-Function-Pointer-Struct-Method-Interface-Package-Error-Handling/praktikum/prioritas_1
	./07_Soal-Recursive-Number-Theory-Sorting-Searching/praktikum/eksplorasi
	./07_Soal-Recursive-Number-Theory-Sorting-Searching/praktikum/prioritas1
	./07_Soal-Recursive-Number-Theory-Sorting-Searching/praktikum/prioritas2
	./16_Intro-Echo-Golang/praktikum/eksplorasi
	./16_Intro-Echo-Golang/praktikum/prioritas1
	./16_Intro-Echo-Golang/praktikum/prioritas2
	./18_Middleware/praktikum/eksplorasi
	./18_Middleware/praktikum/prioritas1
	./18_Middleware/praktikum/prioritas2
	./26_Penggunaan-AI-di-Golang/praktikum/task-openai
)
